@font-face {
    font-family: "Lato";
    src: url(../fonts/latoregular.woff);
    src: url(../fonts/latoregular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lato";
    src: url(../fonts/latomedium.woff);
    src: url(../fonts/latomedium.woff2);
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lato";
    src: url(../fonts/latobold.woff);
    src: url(../fonts/latobold.woff2);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.woff);
    src: url(../fonts//OpenSans-Bold.woff2);
    font-weight: 600;
    font-style: normal;
  }

:root {
  --color-text-black: #27221C;
  --color-text-black-medium: #595755;
  --color-text-black-lite: #141414;
  --color-text-white: #FFFFFF;
  --color-text-red: #A4341C;

  --color-red-dark: #A4341C;
  --color-green-dark: #32521E;

  --color-bg-white: #FFFFFF;
  --color-bg-black: #000000;
  --color-bg-black-medium: rgba(0, 0, 0, 0.8);
  --color-bg-red-dark: #792C1C;
}

/*Global*/

body {
  min-width: 1100px;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--color-text-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  padding: 15px 0 0 0;
  margin: 0;
  margin-bottom: 13px;
  background-color: var(--color-bg-white);
}

.main-navigation {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-black-medium);
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr min-content;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 0 0 347px;
  padding: 0;
}

.site-navigation-item {
  margin-right: 99px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.main-navigation-wrapper a {
  color: var(--color-text-black-medium);
}

.main-navigation-wrapper a:hover {
  color: var(--color-text-red);
}

.main-navigation-wrapper a:active {
  color: var(--color-text-red);
  opacity: 0.7;
}

.user-navigation {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  background-color: var(--color-red-dark);
  padding: 6px 32px 10px;
  margin-left: 165px;
  margin: 0;
}

.user-navigation:hover {
  background-color: var(--color-bg-red-dark);
}

.user-navigation:active {
  background-color: var(--color-bg-red-dark);
  opacity: 0.7;
}

.user-navigation span {
  color: var(--color-text-white);
}

.feature-list {
  position: relative;
  width: 100%;
  height: 682px;
  background-color: var(--color-green-dark);
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 0;
}

.feature-item {
  display: none;
}

.feature-item-current {
  display: block;
}

.feature-list p {
  position: absolute;
  top: 406px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-indent: 17px;
  color: var(--color-text-red);
  background-color: var(--color-bg-black-medium);
  width: 466px;
  padding: 25px 32px 23px 36px;
  margin: 0;
  z-index: 1;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 682px;
  left: 0;
  top: 0;
}

/* Catalog */

.catalog-page {
  display: grid;
  grid-template-columns: 201px 1fr;
  align-content: start;
  margin-bottom: 90px;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 815px;
  margin: 0;
  margin-left: 84px;
  padding: 0;
}

.catalog-list-item {
  outline: 2px solid var(--color-red-dark);
  width: 370px;
  height: 400px;
  margin-right: 75px;
  margin-bottom: 35px;
}

.catalog-list-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-list-item h3 {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text-black-medium);
  margin: 19px 33px 0px 20px;
  padding: 0;
}

.catalog-list-item p {
  width: 320px;
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-text-black-medium);
  margin: 14px 30px 23px 20px;
  padding: 0;
}

/* About Us */

.about-us {
  margin: 0;
  padding: 0;
  margin-bottom: 165px;
}

.about-us h2 {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: var(--color-text-black);
  margin: 0;
  margin-left: 4px;
  margin-bottom: 100px;
  padding: 0;
}

.about-us h2::after {
  content: '';
  display: block;
  position: relative;
  left: -4px;
  top: 14px;
  border: 2px solid var(--color-red-dark);
  width: 447px;
}

.about-us-list {
  outline: 4px solid red;        /*AУТЛАЙН*/
  outline-offset: 4px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0;
  padding: 0;
}

.about-us-item {
  outline: 4px solid green;        /*AУТЛАЙН*/
  outline-offset: 4px;
  margin-right: 20px;
  width: 353px;
}

.about-us-item:last-child {
  margin-right: 0;
}

.about-us-icon-1 {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 141px;
}

.about-us-icon-2 {
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 37px;
  padding-left: 120px;
}

.about-us-icon-3 {
  padding: 0;
  margin: 0;
  padding-bottom: 18px;
  padding-top: 29px;
  padding-left: 130px;
}

.about-us-item h3 {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text-black-medium);
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 26px;
  padding-right: 27px;
}

.about-us-item p {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-text-black-medium);
  text-align: center;
  width: 250px;
  margin: 0;
  padding-left: 51px;
  padding-right: 52px;
}

/* modal-section */

.modal-section {
  position: relative;
  width: 100%;
  height: 720px;
  background-color: var(--color-bg-gray-light);
  margin: 0 auto;
  margin-bottom: 45px;
}

.modal-background {
  position: absolute;
  width: 100%;
  height: 720px;
  left: 0;
  top: 0;
}

.consultation {
  position: absolute;
  top: 48px;
  left: 119px;
  background-color: var(--color-bg-black);
  opacity: 0.8;
  width: 470px;
}

.consultation h3 {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-red-dark);
  padding-top: 27px;
  padding-left: 44px;
  padding-bottom: 17px;
  margin: 0;
}

.consultation p {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-text-white);
  width: 350px;
  padding: 0 76px 27px 44px;
  margin: 0;
}

.modal-letter {
  position: absolute;
  top: 92px;
  left: 843px;
  background-color: var(--color-green-dark);
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  width: 400px;
}

.modal-form-container {
  margin: 0;
  padding: 40px 50px;
}

.main-footer {
  padding-top: 54px;
  border-top: 3px solid var(--color-red-dark);
}

.main-footer-navigation {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-black-medium);
  background-color: transparent;
  margin-bottom: 19px;
}

.main-footer-navigation-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr min-content;
  text-align: center;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.site-footer-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 356px;
  margin: 6px 0 0 430px;
  padding: 0;
  
}

.site-footer-navigation-item {
  margin-right: 105px;
}

.site-footer-navigation-item:last-child {
  margin-right: 0;
}

.main-footer-navigation-wrapper a {
  color: var(--color-text-black-medium);
}

.main-footer-navigation-wrapper a:hover {
  color: var(--color-text-red);
}

.main-footer-navigation-wrapper a:active {
  color: var(--color-text-red);
  opacity: 0.7;
}

.user-footer-navigation {
  margin: 6px 0 0 0;
  padding: 0;
}

.footer {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.copyright {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-text-black-medium);
  width: 204px;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 223px;
  margin: 7px 0 0 672px;
  
  padding: 0;
}