@font-face {
    font-family: "Lato";
    src: url(../fonts/latoregular.woff);
    src: url(../fonts/latoregular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lato";
    src: url(../fonts/latomedium.woff);
    src: url(../fonts/latomedium.woff2);
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Lato";
    src: url(../fonts/latobold.woff);
    src: url(../fonts/latobold.woff2);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanssemibold.woff);
    src: url(../fonts/opensanssemibold.woff2);
    font-weight: 600;
    font-style: normal;
  }

:root {
  --color-text-black: #27221C;
  --color-text-black-medium: #595755;
  --color-text-black-lite: #141414;
  --color-text-white: #FFFFFF;
  --color-text-red: #A4341C;

  --color-red-dark: #A4341C;
  --color-green-dark: #32521E;

  --color-bg-white: #FFFFFF;
  --color-bg-black: #000000;
  --color-bg-red-dark: #792C1C;
}

/*Global*/

body {
  min-width: 1100px;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: var(--color-text-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  padding: 16px 0 0 0;
  margin: 0 0 16px 0;
  background-color: var(--color-bg-white);
}

.main-navigation {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text-black-medium);
  background-color: transparent;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 120px 1fr min-content;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 0 0 347px;
  padding: 0;
  
}

.site-navigation-item {
  margin-right: 99px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.main-navigation-wrapper a {
  color: var(--color-text-black-medium);
}

.main-navigation-wrapper a:hover {
  color: var(--color-text-red);
}

.main-navigation-wrapper a:active {
  color: var(--color-text-red);
  opacity: 0.7;
}

.user-navigation {
  background-color: var(--color-red-dark);
  padding: 6px 32px 10px;
}

.user-navigation:hover {
  background-color: var(--color-bg-red-dark);
}

.user-navigation:active {
  background-color: var(--color-bg-red-dark);
  opacity: 0.7;
}

.user-navigation span {
  color: var(--color-text-white);
}

.feature-list {
  position: relative;
  width: 100%;
  height: 682px;
  background-color: var(--color-green-dark);
  margin: 0 auto;
  margin-bottom: 140px;
  padding: 0;
}

.feature-item {
  display: none;
}

.feature-item-current {
  display: block;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 682px;
  left: 0;
  top: 0;
}

/* Catalog */

.catalog-page {
  display: grid;
  grid-template-columns: 201px 1fr;
  align-content: start;
  margin-bottom: 125px;
}

.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 815px;
  margin: 0;
  margin-left: 84px;
  padding: 0;
}

.catalog-list-item {
  width: 370px;
  margin-right: 75px;
  margin-bottom: 35px;
}

.catalog-list-item:nth-child(2n) {
  margin-right: 0;
}

/* About Us */

.about-us {
  margin: 0;
  padding: 0;
  margin-bottom: 125px;
}

.about-us h2 {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: var(--color-text-black);
  margin-bottom: 100px;
}

.about-us-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0;
  padding: 0;
}

.about-us-item {
  margin-right: 20px;
  width: 353px;
}

.about-us-item:last-child {
  margin-right: 0;
}

.about-us-icon-1 {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  padding-left: 141px;
}

.about-us-icon-2 {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  padding-top: 15px;
  padding-left: 120px;
}

.about-us-icon-3 {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 7px;
  padding-left: 130px;
}

.about-us-item h3 {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text-black-medium);
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding-left: 26px;
  padding-right: 27px;
}

.about-us-item p {
  font-family: "Lato", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-text-black-medium);
  text-align: center;
  width: 250px;
  margin: 0;
  padding-left: 51px;
  padding-right: 52px;
}

/* modal-section */

.modal-background {
  position: relative;
  width: 100%;
  height: 720px;
  left: 0;
  top: 0;
}